[Unit]
Description=SENTINEL Fornitori - applicazione principale
After=sentinel-postgres.service sentinel-minio.service sentinel-clamav.service
Wants=sentinel-postgres.service sentinel-minio.service sentinel-clamav.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/sentinel-app.pid %t/sentinel-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/sentinel-app.pid \
    --cidfile %t/sentinel-app.ctr-id \
    --cgroups=no-conmon \
    --replace --name sentinel-app -d \
    --env-file=%S/state/environment \
    --read-only \
    --tmpfs /tmp:size=128m,mode=1777 \
    --security-opt no-new-privileges \
    --publish 127.0.0.1:${TCP_PORT}:3000 \
    ${SENTINEL_FORNITORI_APP_IMAGE}
ExecStartPost=/usr/local/bin/runagent wait-after-boot
PIDFile=%t/sentinel-app.pid
Type=forking

[Install]
WantedBy=default.target
